.btn {
	font-family: "Gilroy-Medium";

	display: inline-block;

	padding: 19px 50px;

	transition: linear 0.2s;
	text-decoration: none;

	color: #fff;
	border: 0;
	border-radius: 5px;
	background-color: $orange;
	&[type="submit"] {
		border: 0;
	}
	&:hover {
		background-color: darken($orange, 10%);
	}
}
