.btn {
	display: inline-block;

	padding: 19px 50px;

	transition: linear 0.2s;
	text-decoration: none;

	color: #fff;
	border-radius: 5px;
	background-color: $orange;
	&:hover {
		background-color: darken($orange, 10%);
	}
	&_hide {
		pointer-events: none;

		opacity: 0;
	}
}
