.categories {
	position: relative;

	padding-top: 415px;
	.container {
		display: flex;
		justify-content: space-between;
	}
	&__bubble {
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;

		width: 101px;
		height: 202px;

		transition: all ease-out 4s;

		border-radius: 100% 0 0 100% / 50% 0 0 50%;
		background-image: linear-gradient(331deg, #fff150 0%, #ef551f 100%);
		&_big {
			right: auto;

			width: calc(333px / 2);
			height: 333px;
			margin-top: 580px;

			transition: all ease-out 6s;

			border-radius: 0 100% 100% 0 / 0 50% 50% 0;
		}
	}
	&__left {
		max-width: 410px;
		margin-right: 50px;
	}
	&__desc {
		font-size: 18px;
		line-height: 1.667;

		margin-top: 50px;
	}
	&__list {
		display: grid;

		margin-top: -80px;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 26px;
	}
	&__item {
		width: 100%;
		height: 342px;
		padding: 30px;

		transition: all ease 0.2s;
		text-decoration: none;

		color: inherit;
		border-radius: 10px;
		background-color: rgb(249, 246, 246);
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: cover;
		&:nth-child(2n) {
			margin-top: -80px;
		}
		&:hover {
			box-shadow: 0 4px 9px #00000029;
		}
	}
	&__caption {
		font-size: 30px;
		line-height: 1.2;
	}
}
