.companies {
	overflow: hidden;

	margin-top: 180px;

	@include tablet {
		margin-top: 100px;
	}

	@include mobile {
		margin-top: 60px;
	}
	.swiper-wrapper {
		padding: 50px 0;

		@include mobile {
			padding: 25px 0;
		}
	}
	& .swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;

		height: 150px;

		border-radius: 5px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 11px 24px 0px rgba(0, 0, 0, 0.16);

		@include tablet {
			height: 100px;
		}

		@include mobile {
			height: 70px;
		}
		img {
			max-width: 80%;
			max-height: 80%;
		}
	}
}
