.footer {
	padding-top: 30px;

	background-color: #161719;
	.container {
		display: grid;
		grid-template-columns: repeat(4, minmax(200px, auto));
		grid-gap: 60px;

		@include container {
			grid-gap: 30px;
		}

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mobile {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			grid-gap: 0;
		}
	}
	&__column {
		@include mobile {
			margin-bottom: 30px;
			&:last-child {
				align-self: center;
			}
		}
		&:first-child {
			min-width: max-content;

			@media screen and (max-width: $container-width) {
				min-width: 0;
			}
		}
	}
	&__list {
		font-size: 15px;

		color: #8b8b8c;
		&_light {
			color: #fff;
			& .footer__list-item {
				margin-bottom: 27px;
			}
		}
	}
	&__list-item {
		display: flex;
		align-items: center;

		margin-bottom: 17px;
		a {
			display: inline-flex;
			align-items: center;
			flex: auto;

			text-decoration: none;

			color: inherit;
			&:hover {
				span {
					color: $orange;
					background-image: linear-gradient(
						to right,
						currentColor 75%,
						transparent 55%
					);
					background-repeat: repeat-x;
					background-position: 0 1.1em;
					background-size: 5px 1px;
				}
			}
			span {
				padding-bottom: 0.2em;

				transition: all linear 0.1s;
				text-decoration: none;

				color: inherit;
			}
		}
		span {
			display: inline-block;
		}
	}
	&__list-icon {
		max-height: 13px;
		margin-right: 24px;
	}
	&__bottom {
		font-size: 16px;
		line-height: 1.2;

		margin-top: 30px;
		padding: 20px;

		text-align: center;

		color: rgba(255, 255, 255, 0.502);
		background-color: #0e0f10;
	}
	&__attention {
		font-size: 14px;
		line-height: 1.2;

		display: block;

		text-decoration: none;

		color: $orange;
		&:not(:last-child) {
			margin-bottom: 22px;
		}
		&[href] {
			&:hover {
				span {
					color: $orange;
					background-image: linear-gradient(
						to right,
						currentColor 75%,
						transparent 55%
					);
					background-repeat: repeat-x;
					background-position: 0 1.1em;
					background-size: 5px 1px;
				}
			}
			span {
				padding-bottom: 0.2em;

				transition: all linear 0.1s;
				text-decoration: none;

				color: inherit;
			}
		}
	}
	&__title {
		font-size: 18px;

		margin-bottom: 24px;

		text-decoration: none;

		color: #fff;
	}
	&__desc {
		font-size: 15px;
		line-height: 1.2;

		color: rgba(255, 255, 255, 0.502);
	}
	&__mailing {
		display: flex;
		align-items: stretch;
		flex-direction: column;

		max-width: 256px;
		margin-top: 20px;
		& > *:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
