.menu {
	width: 100%;

	color: #fff;
	background-color: #161719;
	&__list {
		display: flex;
		justify-content: center;

		padding: 15px 0;
	}
	&__list-item {
		font-size: 16px;

		margin-right: 73px;
		a {
			transition: 0.18s;
			text-decoration: none;

			color: inherit;
			&:hover {
				color: $orange;
			}
		}
	}
}
