.buildings
    img(src="images/simple-magma.svg", alt="magma").buildings__bg
    .container
        .buildings__list
            .buildings__item
                .buildings__head
                    img.buildings__icon(src="images/buildings/factory.png", alt="")
                    h3.buildings__caption сайт
                        br 
                        |завода
                a.btn.buildings__btn(href="javascript:;") Подробнее
                p.buildings__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .buildings__item
                .buildings__head
                    img.buildings__icon(src="images/buildings/shop.png", alt="")
                    h3.buildings__caption розничный
                        br 
                        |магазин
                a.btn.btn_hide.buildings__btn(href="javascript:;") Подробнее
                p.buildings__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.