.certificats
    .container
        h2.h2 сертификаты
        .cloudy-slider.certificats__slider
            .cloudy-slider__btn.cloudy-slider__prev
                img(src="images/icons/angle_left.png", alt="")
            .cloudy-slider__btn.cloudy-slider__next
                img(src="images/icons/angle_right.png", alt="")
            .swiper-wrapper
                .swiper-slide
                    a(href="images/certificats/1x2.jpg" data-caption="Image caption")
                        img(src="images/certificats/1.jpg", alt="").certificats__item
                .swiper-slide
                    a(href="images/certificats/2x2.jpg" data-caption="Image caption")
                        img(src="images/certificats/2.jpg", alt="").certificats__item
                .swiper-slide
                    a(href="images/certificats/3x2.jpg" data-caption="Image caption")
                        img(src="images/certificats/3.jpg", alt="").certificats__item
                .swiper-slide
                    a(href="images/certificats/4x2.jpg" data-caption="Image caption")
                        img(src="images/certificats/4.jpg", alt="").certificats__item