.companies
    .container
        h2.h2 нам доверяеют
        .cloudy-slider.swiper-container
            .cloudy-slider__btn.cloudy-slider__prev
                img(src="images/icons/angle_left.png", alt="")
            .cloudy-slider__btn.cloudy-slider__next
                img(src="images/icons/angle_right.png", alt="")
            .swiper-wrapper
                .swiper-slide
                    .companies__item
                        img(src="images/companies/1.jpg", alt="")
                    .companies__item
                        img(src="images/companies/2.jpg", alt="")
                    .companies__item
                        img(src="images/companies/3.jpg", alt="")
                    .companies__item
                        img(src="images/companies/4.jpg", alt="")
                .swiper-slide
                    .companies__item
                        img(src="images/companies/1.jpg", alt="")
                    .companies__item
                        img(src="images/companies/2.jpg", alt="")
                    .companies__item
                        img(src="images/companies/3.jpg", alt="")
                    .companies__item
                        img(src="images/companies/4.jpg", alt="")
                .swiper-slide
                    .companies__item
                        img(src="images/companies/1.jpg", alt="")
                    .companies__item
                        img(src="images/companies/2.jpg", alt="")
                    .companies__item
                        img(src="images/companies/3.jpg", alt="")
                    .companies__item
                        img(src="images/companies/4.jpg", alt="")