footer.footer
    .container
        .footer__column
            ul.footer__list.footer__list_light
                li.footer__list-item
                    a(href="tel:+7(499)406-09-71") 
                        img.footer__list-icon(src="images/icons/phone_filled.svg", alt="alt")
                        span Тел: +7 (499) 406-09-71
                li.footer__list-item
                    a(href="mailto:sale4@cable-provod.ru") 
                        img.footer__list-icon(src="images/icons/chat.svg", alt="alt")
                        span E-mail: sale4@cable-provod.ru 
                li.footer__list-item
                    img.footer__list-icon(src="images/icons/clock.svg", alt="alt")
                    span Пн-Пт с 9:00–18:00
                li.footer__list-item
                    a(href="https://goo.gl/maps/jK7fhJHQYXwe1Zkz6") 
                        img.footer__list-icon(src="images/icons/geo.svg", alt="alt")
                        span 121108, г. Москва, ул. Ивана Франко, д.4
            span.footer__attention Информация на сайте не является 
                br
                |публичной офертой
            a(href="javascript:;").footer__attention Политика конфиденциальности
    .footer__bottom © Стинкабель, 2012-2020
script(src="scripts/main.js")