footer.footer
    .container
        .footer__column
            ul.footer__list.footer__list_light
                li.footer__list-item
                    a(href="tel:+7(499)406-09-71") 
                        img.footer__list-icon(src="images/icons/phone_filled.svg", alt="alt")
                        span Тел: +7 (499) 406-09-71
                li.footer__list-item
                    a(href="mailto:sale4@cable-provod.ru") 
                        img.footer__list-icon(src="images/icons/chat.svg", alt="alt")
                        span E-mail: sale4@cable-provod.ru 
                li.footer__list-item
                    img.footer__list-icon(src="images/icons/clock.svg", alt="alt")
                    span Пн-Пт с 9:00–18:00
                li.footer__list-item
                    a(href="https://goo.gl/maps/jK7fhJHQYXwe1Zkz6") 
                        img.footer__list-icon(src="images/icons/geo.svg", alt="alt")
                        span 121108, г. Москва, ул. Ивана Франко, д.4
            .footer__attention 
                span Информация на сайте не является 
                    br
                    |публичной офертой
            a(href="javascript:;").footer__attention 
                span Политика конфиденциальности
        .footer__column
            h3.footer__title О компании
            ul.footer__list
                each val in ['Новости и статьи', 'Реквизиты', 'Наши клиенты', 'Служба заботы о клиентах', 'Программа лояльности', 'Документы']
                    li.footer__list-item
                        a(href="javascript:;")
                            span=val
        .footer__column
            h3.footer__title О магазине
            ul.footer__list
                each val in ['Доставка', 'Оплата', 'Контакты', 'О магазине']
                    li.footer__list-item
                        a(href="javascript:;")
                            span=val
        .footer__column
            h3.footer__title Рассылка
            .footer__desc Подпишитеь на распродажи 
                br
                |и спецпредложения
            form.footer__mailing(action="javascript:;", method="get")
                input.input(type="email", name="email" placeholder="Ваш E-mail")
                button.btn(type="submit") Отправить
    .footer__bottom © Стинкабель, 2012-2020
script(src="js/main.min.js")