head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    <meta name="description" content="Стинкабель - кабели и комплектующие">
    <meta name="keywords" content="">
    <meta name="author" content="Umisoft">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ed6839">
    <meta name="theme-color" content="#ed6839">
    <meta name="msapplication-navbutton-color" content="#ed6839">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ed6839">
    <meta name="msapplication-navbutton-color" content="#ed6839">
    <link  rel="icon"  href="images/icons/fav.png">
    link(rel="stylesheet", href="css/main.min.css")
    title Стинкабель