picture.header__bg
    source(srcset="images/welcome-magma.webp", type="image/webp")
    img(src="images/welcome-magma.png", alt="")
header.header
    nav.menu
        .container
            .menu__burger
                span
                span
                span
                span
            .menu__mobile-top-icons
                a(href="javascript:;").menu__mobile-top-icon
                    img(src="images/icons/geo.svg", alt="")
                a(href="javascript:;").menu__mobile-top-icon 
                    img(src="images/icons/chat.svg", alt="")
                a(href="javascript:;").menu__mobile-top-icon
                    img(src="images/icons/cart.svg", alt="")
            .menu__wrap
                nav.menu__nav
                    .menu__catalog
                        ul.menu__list
                            each val in ['Кабели силовые', 'Провода', 'Кабели охранно-пожарные', 'Гофрированные трубы', 'Уценка']
                                li.menu__list-item
                                    a(href="javascript:;")=val
                    ul.menu__list
                        li.menu__list-item.header__logo
                            a(href="/") Главная
                        li.menu__list-item
                            a(href="javascript:;") О магазине
                        li.menu__list-item
                            a(href="javascript:;") Доставка и оплата
                        li.menu__list-item
                            a(href="javascript:;") Контакты
                .menu__footer
                        a(href="javascript:;").menu__footer-item
                            img.menu__footer-icon(src="images/icons/geo.svg", alt="")
                            span Посмотреть пункты самовывоза
                        a(href="javascript:;").menu__footer-item
                            img.menu__footer-icon(src="images/icons/chat.svg", alt="")
                            span Службы заботы о клиентах
                        a(href="tel:+7(499)406-09-72").menu__footer-item.menu__footer-item_bold
                            img.menu__footer-icon(src="images/icons/phone.svg", alt="")
                            span +7 (499) 406-09-72
                        a(href="mailto:sale4@cable-provod.ru").menu__footer-item.menu__footer-item_bold
                            img.menu__footer-icon(src="images/icons/mail.svg", alt="")
                            span sale4@cable-provod.ru
    .container.header__wrap
        a(href="/").header__item.header__logo
            img(src="images/logo.png", alt="стинкабель")
        .header__item.header__list
            a(href="javascript:;").header__list-item 
                img.header__icon(src="images/icons/geo.svg", alt="")
                span Посмотреть пункты самовывоза
            a(href="javascript:;").header__list-item 
                img.header__icon(src="images/icons/chat.svg", alt="")
                span Службы заботы о клиентах
        .header__item.header__item_bold.header__list.header__contacts
            a(href="tel:+7(499)406-09-72").header__list-item 
                img.header__icon(src="images/icons/phone.svg", alt="")
                span +7 (499) 406-09-72
            a(href="mailto:sale4@cable-provod.ru").header__list-item 
                img.header__icon(src="images/icons/mail.svg", alt="")
                span sale4@cable-provod.ru
        a(href="javascript:;").header__item.header__item_bold.header__cart
            img.header__icon(src="images/icons/cart.svg", alt="")
            .header__txt-wrap
                span
                    | Корзина: 4 товара
                    br
                    | на 15 000 Р