.info
    img(src="images/grey_wave.svg", alt="alt").info__bg
    .info__decor
        .info__bubble
        .info__bubble.info__bubble_big
    .container 
        h2.h2 полезная информация
        .info__grid
            .info__item
                img.info__preview(src="images/info/1.jpg", alt="кабель")
                .info__date
                    img(src="images/icons/calendar.svg", alt="alt")
                    span 04 Май 2020
                h3.info__title Название статьи
                p.info__txt Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil cupiditate expedita quisquam eius accusantium ullam laborum. Suscipit distinctio facere deleniti cum quae, vitae quisquam dolore.
            .info__item
                img.info__preview(src="images/info/2.jpg", alt="кабель")
                .info__date
                    img(src="images/icons/calendar.svg", alt="alt")
                    span 04 Май 2020
                h3.info__title Название статьи
                p.info__txt Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil cupiditate expedita quisquam eius accusantium ullam laborum. Suscipit distinctio facere deleniti cum quae, vitae quisquam dolore.
            .info__item
                img.info__preview(src="images/info/3.jpg", alt="кабель")
                .info__date
                    img(src="images/icons/calendar.svg", alt="alt")
                    span 04 Май 2020
                h3.info__title Название статьи
                p.info__txt Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil cupiditate expedita quisquam eius accusantium ullam laborum. Suscipit distinctio facere deleniti cum quae, vitae quisquam dolore.
            .info__item
                img.info__preview(src="images/info/4.jpg", alt="кабель")
                .info__date
                    img(src="images/icons/calendar.svg", alt="alt")
                    span 04 Май 2020
                h3.info__title Название статьи
                p.info__txt Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil cupiditate expedita quisquam eius accusantium ullam laborum. Suscipit distinctio facere deleniti cum quae, vitae quisquam dolore.