.welcome.container 
    .welcome__head
        .catalog
            .catalog__wrapper
                button.catalog__btn
                    span.catalog__btn-icon
                        span
                        span
                        span
                    span.catalog__btn-txt Каталог
                ul.catalog__list
                    each val in ['Кабели силовые', 'Провода', 'Кабели охранно-пожарные', 'Гофрированные трубы', 'Уценка']
                        li.catalog__item
                            a(href="javascript:;")=val
        form.welcome__form
            input.welcome__search(type="search", name="search" placeholder="Что вы ищите ?")
            button.welcome__search-btn(type="submit" ) Показать результаты
            button.welcome__search-btn-mobile(type="submit" ) 
                img(src="images/icons/search.svg", alt="alt")
    .welcome__slider.em-slider
        .em-slider__prev 
            img(src="images/icons/back.svg", alt="")
        .em-slider__next 
            img(src="images/icons/angle_right.png", alt="")
        .em-slider__wrapper
            .em-slider__slide
                a(href="javascript:;") 
                    img(src='images/banners/1.jpg' alt='')
                    h2.welcome__slider-caption Пример заголовка 
                        br
                        |для баннера
                    p.welcome__slider-paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                        br
                        |sed do eiusmod tempor incididunt ut labore
                        br
                        |et dolore magna aliqua. Ut enim ad 
                        br
                        |minim veniam, quis nostrud exercitation ullamco 
                        br
                        |laboris nisi ut aliquip ex ea commodo consequat. 
            .em-slider__slide
                a(href="javascript:;") 
                    img(src='images/banners/2.jpg' alt='')
                    h2.welcome__slider-caption Пример заголовка 
                        br
                        |для баннера
                    p.welcome__slider-paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                        br
                        |sed do eiusmod tempor incididunt ut labore
                        br
                        |et dolore magna aliqua. Ut enim ad 
                        br
                        |minim veniam, quis nostrud exercitation ullamco 
                        br
                        |laboris nisi ut aliquip ex ea commodo consequat. 
            img(src="images/icons/angle_right.png", alt="")