.welcome.container 
    .welcome__head
        .welcome__catalog
            btn.welcome__catalog-btn
                .welcome__catalog-btn-icon
                    span
                    span
                    span
                span.welcome__catalog-btn-txt Каталог
        form.welcome__form
            input.welcome__search(type="search", name="search" placeholder="Что вы ищите ?")
            button.welcome__search-btn(type="submit" ) Показать результаты