<!DOCTYPE html>
html(lang="en")
    include pug/blocks/head
    body
        include pug/blocks/header 
        include pug/blocks/welcome 
        include pug/blocks/categories 
        include pug/blocks/footer 
