<!DOCTYPE html>
html(lang="en")
    include pug/blocks/head
    body
        include pug/blocks/header 
        include pug/blocks/welcome 
        .container
            .em-slider
                .em-slider__prev PRev
                .em-slider__wrapper
                    .em-slider__slide
                        img(src='https://image.shutterstock.com/image-illustration/home-interior-mockup-green-sofa-600w-1185174160.jpg' alt='')
                        span lorem ipsum dolor 1
                    .em-slider__slide
                        img(src='https://image.shutterstock.com/image-photo/concept-leaves-cannifolium-spathiphyllum-abstract-600w-1462210697.jpg' alt='')
                        span lorem ipsum dolor 2
                    .em-slider__slide
                        img(src='https://image.shutterstock.com/image-illustration/creative-isolation-quarantine-3d-render-600w-1697226601.jpg' alt='')
                        span lorem ipsum dolor 3
                    .em-slider__slide
                        img(src='https://image.shutterstock.com/image-vector/mindfulness-self-analysis-flat-vector-600w-1544539310.jpg' alt='')
                        span lorem ipsum dolor 4
                    .em-slider__slide
                        img(src='https://image.shutterstock.com/image-photo/dark-green-wall-broken-old-600w-1709667844.jpg' alt='')
                        span lorem ipsum dolor 5
                .em-slider__next Next
        include pug/blocks/footer 
