<!DOCTYPE html>
html(lang="en")
    include pug/blocks/head
    body
        include pug/blocks/header 
        include pug/blocks/welcome 
        include pug/blocks/categories 
        include pug/blocks/companies 
        include pug/blocks/buildings 
        include pug/blocks/certificats 
        include pug/blocks/info 
        include pug/blocks/footer 
